.knowledges{
    display: flex;
    padding: 12px;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}
.knowledges article{
    width: 120px;
    height: 90px;
    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 13%, rgba(0,0,255,0.6628851369649422) 100%, rgba(0,212,255,1) 100%);
    border-bottom: 4px solid  rgba(255, 255, 255, 0.663);
    border-radius: 10%;
    box-shadow: 2px 2px 5px black;
   color: #fff;
    transition: 1s;
}
.knowledges article:hover{
    transform:scale(1.2);
    transition: 1s;
}
.icon{
    background-image: linear-gradient(to right, #f12711, #f5af19);
    -webkit-background-clip: text;
    
}
@media screen and (min-width:1024px ) {

    .knowledges article{
        width: 150px;
        height: 110px;
    }
    .knowledges{
        margin-top: 32px;
    }
    
}