.themeButton{
    z-index: 2;
    display: flex;
    background-color: rgb(207, 204, 207);
    height: 5px;
    width: 50px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 30%;
  
}
.selectedTheme{
    z-index: -1;
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    left: -1px;
    transition: 0.6s;
}
.selectedTheme.on{
    left: 64%;
    
    transition: 0.6s;
}