.footer{
    display: flex;
    flex-direction: column;
    background-color:var(--principal-color);
    gap: 12px;
    align-items: center;
    padding: 50px;
    font-size: 24px;
    color: azure;
}
.footer__icons{
    display: flex;
    gap: 8px;
    justify-content: center;
}